@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
/*  font-family: 'Lexend Deca', sans-serif;
    font-family: 'Inter', sans-serif;
*/

:root {
    --VeryDarkBlue: hsl(233, 47%, 7%);
    --DarkDesaturatedBlue: hsl(244, 38%, 16%);
    --SoftViolet: hsl(277, 64%, 61%);
    --White: hsl(0, 0%, 100%);
    --SlightlyTransparentWhiteText: hsla(0, 0%, 100%, 0.75);
    --SlightlyTransparentWhiteHeadings: hsla(0, 0%, 100%, 0.6);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 15px;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--VeryDarkBlue);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    text-align: center;
    width: 335px;
    height: 780px;
    background-color: var(--DarkDesaturatedBlue);
    border-radius: 0 0 10px 10px;
}

picture {
    height: 240px;
    background-color: var(--SoftViolet);
    border-radius: 10px 10px 0 0;
}

img {
    opacity: .8;
    mix-blend-mode: multiply;
    width: 335px;
    height: inherit;
}

body main div {
    width: 330px;
    height: 540px;
}

h1 {
    padding-top: 40px;
    color: var(--White);
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    width: 260px;
    height: 150px;
    margin: 0 auto;
}

h1 span {
    color: var(--SoftViolet);
    font-family: inherit;
    font-size: inherit;
}

p {
    color: var(--SlightlyTransparentWhiteText);
    font-family: 'Inter', sans-serif;
    width: 260px;
    height: 120px;
    margin: 0 auto;
}

ul {
    width: 260px;
    height: 210px;
    margin: 0 auto;
    text-align: center;
}

ul li {
    font-family: 'Inter', sans-serif;
    color: var(--White);
    width: 90px;
    height: 70px;
    margin: 0 auto;
    list-style: none;
    font-size: 22px;
    font-weight: 700;
}

ul li span {
    color: var(--SlightlyTransparentWhiteText);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 100;
    font-size: 12px;
    padding-top: 8px;
    letter-spacing: 1px;
    display: block;
}

.attribution a {
    color: var(--SlightlyTransparentWhiteHeadings);
}

@media (min-width: 376px) {

    main {
        flex-direction: row;
        width: 1110px;
        height: 450px;
    }

    picture {
        width: 540px;
        height: 450px;
    }

    img {
        width: inherit;
        height: inherit;
    }
    
    body main div {
        width: 570px;
        height: 450px;
    }

    h1 {
        font-size: 30px;
        width: 380px;
        height: 160px;
        margin: 0 auto;
    }

    p {
        width: 380px;
        height: 130px;
    }

    ul {
        width: 380px;
        margin: 0 auto;
        display: flex;
        height: 120px;
    }

    
}